<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gentoo Stager</title>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/vue.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/ajaxRequests.js') }}" charset="utf-8"></script>
    <!-- CAUSES BREAKS WITH # SIGNS IN HREF TAGS <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" charset="utf-8"></script> -->
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='tyrian.css') }}" rel="stylesheet" media="screen">

<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
<header>
  <div class="site-title">
    <div class="container">
      <div class="row">
        <div class="site-title-buttons">
          <div class="btn-group b tn-group-sm">
            <a href="https://get.gentoo.org/" role="button" class="btn get-gentoo"><span class="fa fa-fw fa-download"></span> <strong>Get Gentoo!</strong></a>
            <div class="btn-group btn-group-sm">
              <a class="btn gentoo-org-sites dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                <span class="fa fa-fw fa-map-o"></span> <span class="hidden-xs">gentoo.org sites</span> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="https://www.gentoo.org/" title="Main Gentoo website"><span class="fa fa-home fa-fw"></span> gentoo.org</a></li>
                <li><a href="https://wiki.gentoo.org/" title="Find and contribute documentation"><span class="fa fa-file-text-o fa-fw"></span> Wiki</a></li>
                <li><a href="https://bugs.gentoo.org/" title="Report issues and find common issues"><span class="fa fa-bug fa-fw"></span> Bugs</a></li>
                <li><a href="https://forums.gentoo.org/" title="Discuss with the community"><span class="fa fa-comments-o fa-fw"></span> Forums</a></li>
                <li><a href="https://packages.gentoo.org/" title="Find software for your Gentoo"><span class="fa fa-hdd-o fa-fw"></span> Packages</a></li>
                <li class="divider"></li>
                <li><a href="https://planet.gentoo.org/" title="Find out what's going on in the developer community"><span class="fa fa-rss fa-fw"></span> Planet</a></li>
                <li><a href="https://archives.gentoo.org/" title="Read up on past discussions"><span class="fa fa-archive fa-fw"></span> Archives</a></li>
                <li><a href="https://sources.gentoo.org/" title="Browse our source code"><span class="fa fa-code fa-fw"></span> Sources</a></li>
                <li class="divider"></li>
                <li><a href="https://infra-status.gentoo.org/" title="Get updates on the services provided by Gentoo"><span class="fa fa-server fa-fw"></span> Infra Status</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="logo">
          <a href="/" title="Back to the homepage" class="site-logo">
            <object data="{{ url_for('static', filename='site-logo.svg') }}" type="image/svg+xml">
              <img src="{{ url_for('static', filename='site-logo.png') }}" alt="Gentoo Linux Logo">
            </object>
          </a>
          <span class="site-label">Stager - Installation</span>
        </div>
      </div>
    </div>
  </div>
  <nav class="tyrian-navbar" role="navigation">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Brad</a></li>
            <li><a href="#">Maff</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<div id="gentooForm" class="container">

    <form class="form-horizontal">

        <label for="autosave_config">Autosave Config</label>
        <input type="checkbox" v-model="autosave_config" name="autosave_config" id="autosave_config" />&nbsp;&nbsp;&nbsp;
        <label for="sync_time">Sync Time</label>
        <input type="checkbox" v-model="sync_time" name="sync_time" id="sync_time" />

        <fieldset class="form-group">
          <legend>Network Information</legend>
            <div class="col-md-6">
                <label for="interface" class="control-label">Interface: </label>
                <input v-model="sysinfo.interface" name="sysinfo[interface]" id="interface" type="text" placeholder="Interface" class="form-control col"/>
            </div>
            <div class="col-md-6">
                <label for="host" class="control-label">Host: </label>
                <input v-model="sysinfo.host" name="sysinfo[host]" id="host" type="text" placeholder="Host" class="form-control"/>
            </div>
            <div class="col-md-6">
                <label for="port" class="control-label">Port: </label>
                <input v-model="sysinfo.port" name="sysinfo[port]" id="port" type="text" placeholder="Port Number" class="form-control"/>
            </div>
            <div class="col-md-6">
                <label for="auth" class="control-label">Auth: </label>
                <input v-model="sysinfo.auth" name="sysinfo[auth]" id="auth" type="auth" placeholder="Auth" class="form-control"/>
            </div>
        </fieldset>

        <fieldset class="form-group">
          <legend>Target</legend>
            <div class="col-md-6">
                <label for="host_arch" class="control-label">Host Architecture: </label>
                <input v-model="target.host_arch" name="target[host_arch]" id="host_arch" type="text" placeholder="Host Architecture" class="form-control"/>
            </div>
            <div class="col-md-6">
                <label for="locale" class="control-label">Locale: </label>
                <input v-model="target.locales.locale" name="target[locales][locale]" id="locale" type="text" placeholder="Locale" class="form-control"/>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <legend>Repo Snapshot</legend>
            <div class="col-md-12">
                <label for="uri" class="control-label">URI: </label>
                <input v-model="target.repo_snapshot.uri" name="target[repo_snapshot][uri]" id="uri" type="text" placeholder="URI" class="form-control"/>
                <label for="md5sum_uri" class="control-label">MD5 Sum URI: </label>
                <input v-model="target.repo_snapshot.md5sum_uri" name="target[repo_snapshot][md5sum_uri]" id="md5sum_uri" type="text" placeholder="MD5 Sum URI" class="form-control"/>
                <label for="gpgsig_uri" class="control-label">GPG Sig URI: </label>
                <input v-model="target.repo_snapshot.gpgsig_uri" name="target[repo_snapshot][gpgsig_uri]" id="gpgsig_uri" type="text" placeholder="GPG Sig URI" class="form-control"/>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <legend>Disks</legend>
            <div class="col-md-4">

                <select  class="form-control" id="disk_select">
                    {% for disk in gentooModel.sysinfo.disks %}
                        <option value="{{ disk.index }}">{{ disk.model }} - {{ disk.path }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-8" id="chartContainer" style="height: 200px; width: 100%;"></div>
        </fieldset>
    </form>
</div>

<script type="text/javascript">
    var gentooModel = {{ gentooModel|tojson }};

    var vm = new Vue({
        el:"#gentooForm",
        data: gentooModel
    });
</script>
</body>